*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1a1c28;
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'c c d'
    'c c e'
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
    padding: 80px;
}

main div{
    padding: 2em;
    text-align: center;
}

.item-a{
    background-color: #eb5020;
    grid-area: a;
}

.item-b{
    background-color: #ffa401;
    grid-area: b;
}

.item-c{
    background-color: #05aa42;
    grid-area: c;
}

.item-d{
    background-color: #01aefd;
    grid-area: d;
}

.item-e{
    background-color:#01aefd;
    grid-area: e;
}