*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1a1c28;
    display: flex;
    place-items: center;
    min-height: 50vh;
}

main{
    display: grid;
    grid-template-areas: 
    'a a a a b b'
    'c c d d d d'
    'c c e e e e'
    ;
    gap: 10px;
    width: 30%;
    margin: auto;
    padding:80px;
    grid-template-rows: 160px 80px 80px;
}

.item-a{
    background-color: #eb5020;
    grid-area: a;
}

.item-b{
    background-color: #ffa401;
    grid-area: b;
}

.item-c{
    background-color: #05aa42;
    grid-area: c;
}

.item-d{
    background-color: #01aefd;
    grid-area: d;
}

.item-e{
    background-color:#01aefd;
    grid-area: e;
}