@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/**{
    background-color: black;

}*/
@media screen and (min-width: 375px)
body {
    width: 100%;
}

@media screen and (max-width: 1440px)
body {
    width: 100%;
}

body{
    background-color: #f2f2f2;
    Font size: 15px;
    min-height: 90vh;
    
}

main{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 65%;
    /*padding: 0.8em;*/
}

h3{
    font-family: 'Big Shoulders Display'; 
    font-size: 30px;   
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.first-content button{
    border-radius: 2rem;
    color: hsl(31, 77%, 52%);
    padding: 0.8em;
    border: 2px solid hsl(0, 0%, 95%);
    width: 65%;
    margin-top: 6em;
    margin-bottom: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.second-content button{
    border-radius: 2rem;
    color: hsl(184, 100%, 22%);
    padding: 0.8em;
    border: 2px solid hsl(0, 0%, 95%);
    width: 65%;
    margin-top: 6em;
    margin-bottom: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.third-content button{
    border-radius: 2rem;
    color: hwb(179 0% 74%); 
    padding: 0.8em;
    border: 2px solid hsl(0, 0%, 95%);
    width: 65%;
    margin-top: 6em;
    margin-bottom: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

button:hover{
    background-color: transparent;
    cursor: pointer;
    color: hsl(0, 0%, 95%);
}

.top-content{
    background-color: white;
    display:flex;
    flex-direction: row;
    Border-radius: 5px;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

.top-content .first-content{
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    Border-top-left-radius: 5px;
    Border-bottom-left-radius: 5px;
}
.top-content .second-content{
    background-color:hsl(184, 100%, 22%);
    padding: 2em;

}
.top-content .third-content{
    background-color:hsl(179, 100%, 13%); 
    padding: 2em;  
    Border-top-right-radius: 5px;
    Border-bottom-right-radius: 5px;
}