@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    background-color: #f2f2f2;
    Font size: 15px;
    min-height: 100vh;
}

main{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 50%;
    /*padding: 0.8em;*/
}

h3{
    font-family: 'Big Shoulders Display'; 
    font-size: 25px;   
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.75);
}

img{
    margin-bottom: 25px;
}

button{
    border-radius: 2rem;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 0.8em;
    width: 65%;
    margin-top: 6em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

button{
    border-radius: 2rem;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 0.8em;
    width: 65%;
    margin-top: 6em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

button:hover{
    background-color: transparent;
    cursor: pointer;
    color: hsl(0, 0%, 95%);
}

.top-content{
    background-color: white;
    display:flex;
    flex-direction: row;
    Border-radius:5px;
    overflow: hidden;
    padding: 50px;
}

.top-content .first-content{
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
}
.top-content .second-content{
    background-color:hsl(184, 100%, 22%);
    padding: 2em;

}
.top-content .third-content{
    background-color:hsl(179, 100%, 13%); 
    padding: 2em;  
}